{{- define "main" -}}

{{ $page := . }}
{{ $featured := partial "functions/get_featured_image.html" $page }}

{{ $anchor := $page.Params.image.focal_point | default "Smart" }}

{{/* Set default titles for node pages */}}
{{ $title := .Title }}

{{ $participants := $page.Params.participants }}

{{/* Banner image */}}
{{ if and .Params.banner.image (not (and $featured (not .Params.image.preview_only))) }}
<div class="article-header">
  {{- $img := "" -}}
  {{ $alt := (.Params.banner.caption | default "") | plainify }}
  {{ $destination := .Params.banner.image }}
  {{ $is_remote := strings.HasPrefix $destination "http" }}
  {{- if not $is_remote -}}
    {{- $img = (.Page.Resources.ByType "image").GetMatch $destination -}}
    {{- if not $img -}}
      {{- $img = resources.Get (path.Join "media" $destination) -}}
    {{- end -}}
  {{- end -}}
  {{ if $img }}
    <img src="{{$img.RelPermalink}}" width="{{$img.Width}}" height="{{$img.Height}}" class="article-banner" alt="{{$alt}}">
  {{ else }}
    <img src="{{ .Params.banner.image }}" class="article-banner" alt="{{$alt}}">
  {{ end }}

  {{ with .Params.banner.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
</div>
{{end}}

<div class="article-container pt-3">
  <h1>{{ $title }}</h1>
  <p class="page-subtitle">{{ .Params.location | markdownify }}</p>
  <div class="article-metadata">
  {{ partial "functions/get_event_dates" . }}
  {{ if .Params.address }}
    {{ $address := partial "functions/get_address" (dict "root" . "address" .Params.address) }}
    <span class="middot-divider"></span>{{ $address }}
  {{ end }}
  {{ if .Params.leadership }}
    <div>
    {{ range $index, $value:=.Params.leadership }} 
      {{ if gt $index 0 }}<br>{{ end }}{{ .role | markdownify }}: {{ .who | markdownify }}
    {{ end }}
    </div>
  {{ end }}
  </div>
</div>

{{/* Featured image */}}
{{ if and $featured (not .Params.image.preview_only) }}
{{/* Fit image within max size. */}}
{{ $image := $featured }}
{{/* Determine image placement. */}}
{{ $placement := .Params.image.placement | default 1 }}{{/* Default to full column width. */}}
{{/* Fit image to container's max width */}}
{{ $image_container := "" }}
{{ if eq $placement 2}}
  {{ $image_container = "container" }}
  {{ $image = $featured.Fit "1200x2500 webp" }}
{{else if eq $placement 3}}
  {{ $image_container = "container-fluid" }}
  {{ $image := $featured.Fit "2560x2560 webp" }}
{{else}}
  {{ $image_container = "article-container" }}
  {{ $image = $featured.Fit "720x2500 webp" }}
{{end}}

<div class="article-header {{$image_container}} featured-image-wrapper mt-4 mb-0" style="max-width: {{$image.Width}}px; max-height: {{$image.Height}}px;">
  <div style="position: relative">
    <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ with $.Params.image.alt_text }}{{.}}{{ end }}" class="featured-image">
    {{ with $.Params.image.caption }}<span class="article-header-caption">{{ . | markdownify | emojify }}</span>{{ end }}
  </div>
</div>
{{end}}


{{/* If `participants` is set and is not empty. */}}
{{ if $page.Params.participants }}
  {{ $authorLen := len $page.Params.participants }}
  {{ if gt $authorLen 0 }}
    <div class="article-container pt-3">
    <div class="article-metadata">
    {{ range $index, $value := $page.Params.participants }}
      {{- if gt $index 0 }}; {{ end -}}{{- . | markdownify -}}
    {{ end }}
    {{- "." -}}
    </div>
    </div>
  {{ end }}
{{ end }}

<div class="pub">
<div class="article-container">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $query := where .Pages  ".Type" "ne" "role" }}
  {{ range ($query.GroupByDate "2006-01-02").Reverse }}
    <p><strong>{{ time.Format "Monday, January 2, 2006" (time .Key) }}</strong></p>
    <div class="schedule">
      {{ range $index, $item := .Pages.Reverse }}
        {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") ) }}
      {{ end }}
    </div>
  {{ end }}
  
</div>
</div>

{{- end -}}